<!DOCTYPE html>
<html>
  <head>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  <body>


      <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="#Inicio">Inicio</a>
                </li>
            <li class="nav-item active">
              <a class="nav-link" href="#Estudios">  Estudios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ExpLaboral">  Experiencia Laboral</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#HabyAp"> Habilidades y Aptitudes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#HabyAp"> Liderazgo</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#Personal">  Vida Personal</a>
              </li>
          </ul>
        </nav>

    <div class="jumbotron text-center" style="background-color:#33bbff" id=Inicio >
        <h1 > Paulina Cámara Vidales</h1>
        <IMG SRC="https://media-exp1.licdn.com/dms/image/C5603AQFyQz48Ea0EjQ/profile-displayphoto-shrink_200_200/0?e=1609372800&v=beta&t=cT-1zuRhTr9VuljdT7gIbCeiNLvUWcGXIjqw7V_HEog" style="width:250px;height:250px;"/>
        <p><i class="fa fa-envelope"></i> paulinacavi@outlook.com <br>
          <i class="fa fa-phone"></i> +52 1 81 8366 5324 <br>
          <i class="fa fa-linkedin"></i> linkedin.com/in/paucamarav <br>
          <i class="fa fa-github"></i> github.com/PauCamaraV <br>       
        </p>   
    </div>

    <div class="container-fluid">
      <div class="row"  >
        <div class="col-sm-12 text-center" style="background-color:#99DDFF" id=Estudios>
          <h3 >Estudios </h3>
        </div> 
        <div class="col-sm-12 text-center" style="background-color:#D6F1FF">
          <p>	Ingeniería en Tecnologías de Computación <br>
            Tecnologico de Monterrey<br>		
            Año: 2017- Ahora <br>	 			  
            GPA: 92/100 
            </p>
        </div>
        <div class="col-sm-12 text-center" style="background-color:#99DDFF"id=ExpLaboral>
            <h3>Experiencia Laboral</h3>
        </div> 
        <div class="col-sm-12" style="background-color:#EBF8FF" >
            <p> <b>  Practicante de QA en Ecaresoft Mexico  </b>  <br>	 
              Agosto 2019 - Ahora <br>
             Seguimiento y creacion de practicas y procesos para asegurar la calidad del producto, como son: 
             el análisis de Documentos de Requerimientos, creación de casos de prueba, ejecución de pruebas,
              y revision y documentación de nuevas funcionalidades <br>	 
             <b>  Practicante de Ing. Software en Ecaresoft Mexico  </b>  <br>	 
             Mayo 2019 - Agosto 2019 <br>
            Programa de Verano de Practicas. Proyecto de desarollo de pruebas automatizadas
            con Selenium para asegurar algunas funcionalidades especificas del sistema. <br>	 
           </p>
        </div>
        <div class="col-sm-12 text-center" style="background-color:#99DDFF"id=HabyAp>
            <h3>Habilidades y Aptitudes</h3>
        </div> 
        <div class="col-sm-4 text-center" style="background-color:#FFFFFF" id=lenguajes>
          <ul>
            <li v-for="(value, index) in array">
                {{ value }}
            </li>
          </ul>
        </div>
        <div class="col-sm-4 text-center" style="background-color:#EBF8FF" id=herramientas>
          <ul>
            <li v-for="(value, index) in array">
                {{ value }}
            </li>
          </ul>
        </div>
        <div class="col-sm-4 text-center" style="background-color:#D6F1FF" id=aptitudes>
          <ul>
            <li v-for="(value, index) in array">
                {{ value }}
            </li>
          </ul>
        </div>
        <div class="col-sm-12 text-center" style="background-color:#99DDFF"id=HabyAp>
          <h3>Liderazgo y Otros</h3>
        </div> 
          <div class="col-sm-12" style="background-color:#EBF8FF" >
              <p> <b>  Voluntario en Educación y Formación Ohana A.C  </b>  <br>	 
                Enero 2017 - Ago 2019 <br>
                Asociación que trabaja con niños de casas hogares en Monterrey, además de incentivar 
                el voluntariado en jóvenes, con la misión de atacar la pobreza a través de la educación. <br>	 
               <b>  Participante de HackMty TEC 2019  </b>  <br>	 
               Agosto 2019 <br>
               Congreso competitivo de Hackathon para desarrollar un proyecto que use tecnología en 24 horas.
               Proyecto App para Reto de Konfio: Desarrollo de App en Dart con el propósito de mostrar el flujo e 
               información de finanzas personales para decisiones futuras. Trabajo como Analista de Datos y 
               Desarrolladora de Backend  <br>	 
               <b>  Instructora en Jaquemat  </b>  <br>	 
               Enero 2019 - Mayo 2019 <br>
               Congreso competitivo de Hackathon para desarrollar un proyecto que use tecnología en 24 horas.
               Proyecto App para Reto de Konfio: Desarrollo de App en Dart con el propósito de mostrar el flujo e 
               información de finanzas personales para decisiones futuras. Trabajo como Analista de Datos y 
               Desarrolladora de Backend  <br>	 
             </p>
            </div>
          <div class="col-sm-12 text-center" style="background-color:#99DDFF"id=Personal>
              <h3>Vida Personal</h3>
          </div>
          <div class="col-sm-12 text-center" style="background-color:#fff" id="pas" >
              <p>Elige una opción y conoce mis pasatiempos</p>
              <select v-model="pasatiempo">
                  <option>Maquillaje</option>
                  <option>Escuchar Musica</option>
                  <option>Viajar</option>
                  <option>Kpop</option>
                </select>
                <br><br>
                    <template v-if=" pasatiempo === 'Maquillaje'">
                        <img  src="https://images11.eitb.eus/multimedia/images/2020/03/26/2583018/20200326204339_maquillaje-pixabay-kinkat_amp_w1200.jpg" style="width:500px;height:250px;">
                      </template>
                      <template v-else-if = "pasatiempo === 'Escuchar Musica'">
                            <img  src="https://www.adslzone.net/app/uploads/2019/06/publicar-listas-reproduccion-spotify.jpg" style="width:500px;height:250px;">
                        </template>
                      <template v-else-if="pasatiempo === 'Viajar'">
                            <img  src="https://www.pisosestudiantesbarcelona.com/pics_fotosnoticias/106/big_viajar-europa-estudiantes.jpg" style="width:500px;height:250px;">
                        </template>
                        <template v-else-if="pasatiempo === 'Kpop'">
                            <img  src="https://www.freim.tv/wp-content/uploads/2019/12/images-5.jpeg" style="width:400px;height:200px;">
                        </template>
                      <p>{{ pasatiempo }}</p>  
            </div>
      </div>
    </div>

  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  
  <script>
      new Vue({
        el: '#pas',
        data: {
          pasatiempo: ''
        }
      });
  </script>

<script>
    new Vue({
        el: '#lenguajes',
        data: {
        array: ['Python', 'Java','SQL' ,'Swift' ,'C++' ,'Mathlab'],
        }});
</script>
<script>
  new Vue({
      el: '#herramientas',
      data: {
      array: ['JUnit', 'Selenium','Tableau' ,'Cucumber BDD'],
      }});
</script>
<script>
  new Vue({
      el: '#aptitudes',
      data: {
      array: ['Inglés: Nivel B2 (Toefl)', 'Francés: Nivel B1 (DELF)' ,'Capacidad de trabajo en equipo' ,'Capacidad de Adaptación' ,'Dedicada'],
      }});
</script>

     <!-- Si utilizamos componentes de Bootstrap que requieran Javascript agregar estos tres archivos -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     </body>
</html>
